<html>
	<head>
		<title>
		</title>
	</head>
	<body>
		<div style="width:400px; margin:0 auto;">
			<form action="/login" method="post">
				<input type="text" name="username"><br>
				<input type="password" name="password"><br>
				<input type="submit" value="LOG ME IN!!!">
			</form>
		</div>
	</body>
</html>
